<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
      Id="1"
      photoCover="https://i.redd.it/2b6agzgihmj81.jpg"
      cardTitle="Elden Ring é eleito o jogo do ano"
      cardDescription="O ano de 2022 fechou com Elden Ring como o maior sucesso. O mais recente título de Hidetaka Miyazaki e FromSoftware varreu as premiações de títulos do ano passado. Para se consolidar ainda mais, o maior soulslike começa 2023 com mais prêmios, incluindo o de jogo do ano, pelo New York Game Awards, que está em sua 12ª edição."
    ></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      Id="2"
      photoCover="https://image.api.playstation.com/vulcan/img/rnd/202011/1717/M8cxD6UPmsU551lmNq9Lat9Y.png"
      cardDescription="Anunciao Remake do classíco Demons Souls para PS5"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2308/d468cc0c5e578ea5ba4e246aa9be258c4137a025b408214c.png"
      cardDescription="Acompanhe tudo sobre o lançamento de LIES OF PI"
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://cdna.artstation.com/p/assets/images/images/026/853/568/large/igor-soares-dark-souls-3-medir.jpg?1589908962"
      cardDescription="Entenda sobre a lore de MIDIR"
    ></app-small-card>
  </div>
</div>
